@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root{
    --primary-color: #4880FF;
    --secondary-color: #F5F6FA;
    --background-color: #FFFFFF;
    --sub-background: #F1F4F9;
    --green-color: #00B69B;
    --red-color: #F93C65;
    --yellow-color: #FEC53D;
    --text-color:#202224;
    --second-text-color: #565656;
    --border-color: #D8D8D8;
    --font: 'Nunito Sans';
}

* {
    font-family: var(--font), serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--secondary-color);
}